# YouTube API credentials & Tokens
client_secrets.json
client_secret.json
*.pickle

# Environment variables
.env

# Database
data.db

# Python
__pycache__/
*.pyc
venv/
.venv/
logs/
videos/music/*
!videos/music/.gitkeep

videos/backgrounds/*
!videos/backgrounds/.gitkeep

videos/downloaded/*
!videos/downloaded/.gitkeep

videos/thumbnails/*
!videos/thumbnails/.gitkeep

videos/uploaded/*
!videos/uploaded/.gitkeep

videos/sound_effects/*
!videos/sound_effects/.gitkeep

